@use "spritesheet";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.text--vector {
  svg {
    width: 300px;
    height: auto;
    margin-bottom: 1rem;
  }
  path {
    transform: translateX(200px);
    opacity: 0;
    fill: inherit;
    stroke: black;
  }
}

button {
  background: none;
  margin: 0.25rem;
  padding: 5px 10px;
  border: 1px solid black;
  font-family: "Courier New", Courier, monospace;

  &:hover {
    border: 1px solid #ff00ff;
    color: #ff00ff;
  }
}
