body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.animation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.spritesheet {
  width: 200px;
  height: 180px;
  background: url("../catwalk.svg") no-repeat;
  background-size: 800px 180px;
  animation: catWalk 1s steps(4) infinite;

  &:hover {
    animation: none;
  }
}

@keyframes catWalk {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -800px 0;
  } /* width x antal frames */
}
